# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output and logs
/output/
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
ENV/

# VSCode settings
.vscode/

# Data and CSVs
*.csv

# OS files
.DS_Store
Thumbs.db
